.top{
    position: fixed;
    z-index: 40;
    right:-230px;
    bottom:15px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    background-color: #0000008d;
    content: '';
    postion: absolute;
    width: 50px;
    height: 50px;


}
.topf.fall{
    opacity: 1;
    transition: 16s;
}
.topf {
    opacity: 0;
    transition: 0.3s;
    position: fixed;
    z-index: 40;
    right:-120px;
    bottom:15px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    background-color: #505454ca;
    content: '';
    postion: absolute;
    width: 50px;
    height: 50px;
    animation-name: circle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-delay: 1s;
    animation-fill-mode: backwards;   
}

.fa-angle-double-up{
    color:#fff;
    font-size: 35px;
    padding: 5px 14.5px;  
}
@keyframes circle{
0%{
 width: 50px;
 height: 50px;
 right:15px;
 bottom:15px;
}
100%{
    width: 60px;
    height: 60px;
    right:10px;
    bottom:10px;
}
}
