@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

@media (min-width: 768px){
  .wrap1{/* Swiper */
  width: 980px;
  height: 600px;
  margin: 50px auto 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;

} 
.ExempleMobile {
    display: none;
 }

.Bl_Inf {
-moz-border-radius-topleft: 27px;
-webkit-border-top-left-radius: 27px;
 border-top-left-radius: 27px;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
    padding-bottom: 10px;
    margin: auto ;
    width:90%;
    height: 500px;
    background-color: #505d66;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.Bl_Inf div{
    overflow: hidden;
    margin: auto;
    width: 20%;
    height: 400px;
    background-color: #E0F7FF;
    border-radius: 10px;
    font-size: 19px;
     font-family: 'Oswald';
     padding:40px ;
}
.NameTable{
    font-size:40px;
    font-family: 'Oswald';
    padding-bottom: 20px;
    margin: auto;
}

.Block_Work_list li{
      font-size: 18px;
     font-family: 'Oswald';
    padding: 10px 10px;
    color:#fff;
     padding: 10px 10px;}
.Block_Work_list.active li{
     font-size: 20px;
     font-family: 'Oswald';
    padding: 10px 10px;
    color:#fff;
}
.Block_Work_list.active {
 font-size: 18px;
 display: flex;
 top:80px;
 margin:0px 0px;
 width: 160px;
 z-index: 0;

}
.Block_Work_list.active li{
    padding-bottom: 10px;
   color:#fff;
}

.first{
     -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    color:#fff;
    font-family: 'Oswald';
    
}
.Price {
    padding-bottom: 130px;
}
.table{
  border-top: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
   border-left: 4px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 20px 4px rgba(0, 0, 0, 0.5); 
  font-family: 'Oswald', serif;
  font-size: 21px;
  background: #498eab;
  max-width: 100%;
  width: 100%;
  height: 300px;
  border-collapse: collapse;
  text-align: left;
  opacity: 0;
  
}
.money{
    width: 40px;
    font-size:55px;
    padding-left: 200px;
}

.Text_Content { 
  color:#000;
  font-family: "Oswald";
 
 }

.table.active{  
  font-family: 'Oswald';

  font-size: 21px;
  background: #0ca8a8;
  max-width: 100%;
  width: 100%;
  height: 300px;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 1.5s 350ms;

}
th {
  font-weight: normal;
  color: #fff;
  border-bottom: 3px solid #505d66;
  padding: 15px 19px;
  text-align: left;
}
td {
  color: #fff;
  padding: 15px 20px;
  transition: .3s linear;
}
 tr:hover .bestpricecolor1 {
  color: #fcb605;
   font-family: 'Oswald';

}
 tr:hover .savemoney {
  color: #46eb93;
  font-family: 'Oswald';

}

 tr:hover .NameUslugi {
  color:#505d66;
  font-family: 'Oswald';
  text-decoration: underline;

}



tr:hover td {
  color: #505d66;
}
.MainPage {
}
.layer{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  text-align: center;
  color:#fff;
  font-size: 250px;

  text-shadow: 1px 2px 2px #000, 0 0 1em #fff; 
  letter-spacing: -2px;
}

#scene{
    width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 100px;


}
.FunctionMainPage{
    
    width: 100%;
    padding-top: 250px;
    height: 100;
    background-color: #505d66;
}

.fa-html5 {
    font-size: 65px;
    color:#f7782f;
    margin-left: 40%;
    margin-top: -300px;
}
.fa-html5.active {
    font-size: 65px;
    color:#f7782f;
    margin-left: 40%;
    margin-top:0%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}




.fa-file-code.active {
    font-size: 55px;
    color:#bbbcbd;
    margin-left: 17%;
    margin-top:25%;transition:  margin 3.2s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}
.fa-file-code {
    font-size: 55px;
    color:#bbbcbd;
    margin-left: 17%;
    margin-top:-300px;}


.fa-css3-alt.active {font-size: 75px;
    color:#6990f0;
    margin-left: 35%;
    margin-top:24%;
    transition:  margin 2s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000; }

.fa-css3-alt {font-size: 75px;
    color:#6990f0;
    margin-left: 35%;
    margin-top:-300px;}


.fa-wordpress-simple.active {font-size: 65px;
    color:#000;
    margin-left: 5.5%;
    margin-top:16%;transition:  margin 1.8s ease-in-out 0s;
}

.fa-wordpress-simple {font-size: 65px;
    color:#000;
    margin-left: 5.5%;
    margin-top:-300px;}


.fa-js-square.active {font-size: 55px;
    color:#f7f12f;
    margin-left: 20%;
    margin-top:0%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-js-square {font-size: 55px;
    color:#f7f12f;
    margin-left: 20%;
    margin-top:-300px;}


.fa-sticky-note.active {font-size: 65px;
    color:#32fab1;
    margin-left: 90%;
    margin-top:-5%;
    transition:margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}

.fa-sticky-note {font-size: 65px;
    color:#32fab1;
    margin-left: 90%;
    margin-top:-300px;}

.fa-laptop.active {font-size: 55px;
    color:#323635;
    margin-left: 5%;
    margin-top:-1%;
    transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 4px #000;
}

.fa-laptop {font-size: 55px;
    color:#323635;
    margin-left: 5%;
    margin-top:-300px;}


.fa-mobile-alt.active {font-size: 65px;
    color:#989c6e;
    margin-left: 70%;
    margin-top:25%;
    transition:  margin 2.5s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
    }

.fa-mobile-alt {font-size: 65px;
    color:#989c6e;
    margin-left: 70%;
    margin-top:-300px;
}

.fa-desktop.active {font-size: 45px;
    color:#8f5e5e;
    margin-left:31%;
    margin-top:-7%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 2px 3px 3px #000;}

.fa-desktop {font-size: 45px;
    color:#8f5e5e;
    margin-left:31%;
    margin-top:-300px;}


.fa-php.active { font-size: 65px;
    color:#7276e8;
    margin-left:60%;
    margin-top:-5%; transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-php { font-size: 65px;
    color:#24148c;
    margin-left:60%;
    margin-top:-300px; }


.fa-pied-piper-square.active {font-size: 45px;
    color:#0c4204;
    margin-left:89%;
    margin-top:26%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;}

.fa-pied-piper-square {font-size: 45px;
    color:#0c4204;
    margin-left:89%;
    margin-top:-300px;}


.fa-brain.active {font-size: 45px;
    color:#db3dc1;
    margin-left:91%;
    margin-top:11%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-brain {font-size: 45px;
    color:#db3dc1;
    margin-left:91%;
    margin-top:-300px;}


.fa-chart-line.active {font-size: 65px;
    color:#54b34b;
    margin-left:52%;
    margin-top:-3%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-chart-line {font-size: 65px;
    color:#54b34b;
    margin-left:52%;
    margin-top:-300px;}


.fa-code.active {font-size: 45px;
    color:#3192b0;
    margin-left:55%;
    margin-top:25%;transition:  margin 2.3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-code {font-size: 45px;
    color:#3192b0;
    margin-left:55%;
    margin-top:-300px;}


.fa-cloud {
    font-size: 1px;
    color:#fff;
    margin-left:73%;
    margin-top:-300px;

}
.fa-cloud.active {
    font-size: 55px;
    color:#fff;
    margin-left:73%;
    margin-top:-3%;
    transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}



#typed{
    width: 900px;
    font-size: 30px;
     font-family: 'Yanone Kaffeesatz', sans-serif;
       font-weight: 700;

     text-align: center;
}

.typed-cursor{
    font-size: 30px;
}
#typed-strings{
    opacity: 0;
}
.MTT{
    padding-top: 10px;
    width: 900px;
    margin: auto;
}
.MainWinEnd {
    height: 38%;
    width: 100%;
    background: #505d66; 
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 20px -4px rgba(0, 0, 0, 0.5);

    
}
}

.main-windows {}
.statick {}



@media (max-width: 1024px){
  .wrap1{/* Swiper */
  width: 768px;
  height: 1000px;
  margin: 50px auto 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;

} 
  .MainPage {
}
.layer{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  text-align: center;
  color:#fff;
  font-size: 150px;

  text-shadow: 1px 2px 2px #000, 0 0 1em #fff; 
  letter-spacing: -2px;
}

#scene{
    width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 100px;


}
.FunctionMainPage{
    
    width: 100%;
    padding-top: 250px;
    height: 100;
    background-color: #505d66;
}

.fa-html5 {
    font-size: 65px;
    color:#f7782f;
    margin-left: 40%;
    margin-top: -300px;
}
.fa-html5.active {
    font-size: 65px;
    color:#f7782f;
    margin-left: 40%;
    margin-top:0%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}




.fa-file-code.active {
    font-size: 55px;
    color:#bbbcbd;
    margin-left: 17%;
    margin-top:25%;transition:  margin 3.2s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}
.fa-file-code {
    font-size: 55px;
    color:#bbbcbd;
    margin-left: 17%;
    margin-top:-300px;}


.fa-css3-alt.active {font-size: 75px;
    color:#6990f0;
    margin-left: 35%;
    margin-top:24%;
    transition:  margin 2s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000; }

.fa-css3-alt {font-size: 75px;
    color:#6990f0;
    margin-left: 35%;
    margin-top:-300px;}


.fa-wordpress-simple.active {font-size: 65px;
    color:#000;
    margin-left: 5.5%;
    margin-top:16%;transition:  margin 1.8s ease-in-out 0s;
}

.fa-wordpress-simple {font-size: 65px;
    color:#000;
    margin-left: 5.5%;
    margin-top:-300px;}


.fa-js-square.active {font-size: 55px;
    color:#f7f12f;
    margin-left: 20%;
    margin-top:0%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-js-square {font-size: 55px;
    color:#f7f12f;
    margin-left: 20%;
    margin-top:-300px;}


.fa-sticky-note.active {font-size: 65px;
    color:#32fab1;
    margin-left: 90%;
    margin-top:-5%;
    transition:margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}

.fa-sticky-note {font-size: 65px;
    color:#32fab1;
    margin-left: 90%;
    margin-top:-300px;}

.fa-laptop.active {font-size: 55px;
    color:#323635;
    margin-left: 5%;
    margin-top:-1%;
    transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 4px #000;
}

.fa-laptop {font-size: 55px;
    color:#323635;
    margin-left: 5%;
    margin-top:-300px;}


.fa-mobile-alt.active {font-size: 65px;
    color:#989c6e;
    margin-left: 70%;
    margin-top:25%;
    transition:  margin 2.5s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
    }

.fa-mobile-alt {font-size: 65px;
    color:#989c6e;
    margin-left: 70%;
    margin-top:-300px;
}

.fa-desktop.active {font-size: 45px;
    color:#8f5e5e;
    margin-left:31%;
    margin-top:-7%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 2px 3px 3px #000;}

.fa-desktop {font-size: 45px;
    color:#8f5e5e;
    margin-left:31%;
    margin-top:-300px;}


.fa-php.active { font-size: 65px;
    color:#7276e8;
    margin-left:60%;
    margin-top:-5%; transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-php { font-size: 65px;
    color:#24148c;
    margin-left:60%;
    margin-top:-300px; }


.fa-pied-piper-square.active {font-size: 45px;
    color:#0c4204;
    margin-left:89%;
    margin-top:26%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;}

.fa-pied-piper-square {font-size: 45px;
    color:#0c4204;
    margin-left:89%;
    margin-top:-300px;}


.fa-brain.active {font-size: 45px;
    color:#db3dc1;
    margin-left:91%;
    margin-top:11%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-brain {font-size: 45px;
    color:#db3dc1;
    margin-left:91%;
    margin-top:-300px;}


.fa-chart-line.active {font-size: 65px;
    color:#54b34b;
    margin-left:52%;
    margin-top:-3%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-chart-line {font-size: 65px;
    color:#54b34b;
    margin-left:52%;
    margin-top:-300px;}


.fa-code.active {font-size: 45px;
    color:#3192b0;
    margin-left:55%;
    margin-top:25%;transition:  margin 2.3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-code {font-size: 45px;
    color:#3192b0;
    margin-left:55%;
    margin-top:-300px;}


.fa-cloud {
    font-size: 1px;
    color:#fff;
    margin-left:73%;
    margin-top:-300px;

}
.fa-cloud.active {
    font-size: 55px;
    color:#fff;
    margin-left:73%;
    margin-top:-3%;
    transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}



#typed{
    width: 900px;
    font-size: 30px;
     font-family: 'Yanone Kaffeesatz', sans-serif;
       font-weight: 700;

     text-align: center;
}

.typed-cursor{
    font-size: 30px;
}
#typed-strings{
    opacity: 0;
}
.MTT{
    margin-top: -78px;

    width: 550px;

    height: 110px;
}
.MainWinEnd {
  margin-top: -1px;
    height: 38%;
    width: 100%;
    background: #505d66; 
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 20px -4px rgba(0, 0, 0, 0.5);

    
}


}







@media (max-width: 426px){
.ExempleMobile {
    font-family: "Oswald";
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 85px;    
    width: 100%;

 }

.NAMEWORK{
display: none;
}
  .mainblock{
    margin-right: -10px;
    margin-top: -2px;
    width: 300px
  }

  .wrap1{/* Fastselect */
  width: 307px;
  height: 1400px;
  margin: 50px auto 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;

} 
  .MainPage {
}
.layer{/* FastWebProject */
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  text-align: center;
  color:#fff;
  font-size: 80px;

  text-shadow: 1px 2px 2px #000, 0 0 1em #fff; 
  letter-spacing: -2px;
}

#scene{
    width: 100%;
    height: 240px;
    margin: auto;
    padding-top: 60px;


}
.FunctionMainPage{
    
    width: 100%;
    padding-top: 250px;
    height: 100;
    background-color: #505d66;
}

.fa-html5 {
    font-size: 35px;
    color:#f7782f;
    margin-left: 80%;
    margin-top: -300px;
}
.fa-html5.active {
    font-size: 35px;
    color:#f7782f;
    margin-left: 80%;
    margin-top:-5%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}




.fa-file-code.active {
    font-size: 35px;
    color:#bbbcbd;
    margin-left: 17%;
    margin-top:45%;transition:  margin 3.2s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}
.fa-file-code {
    font-size: 35px;
    color:#bbbcbd;
    margin-left: 17%;
    margin-top:-300px;}


.fa-css3-alt.active {font-size: 35px;
    color:#6990f0;
    margin-left: 35%;
    margin-top:50%;
    transition:  margin 2s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000; }

.fa-css3-alt {font-size: 75px;
    color:#6990f0;
    margin-left: 35%;
    margin-top:-300px;}


.fa-wordpress-simple.active {font-size: 35px;
    color:#000;
    margin-left: 5.5%;
    margin-top:66%;transition:  margin 1.8s ease-in-out 0s;
}

.fa-wordpress-simple {font-size: 35px;
    color:#000;
    margin-left: 5.5%;
    margin-top:-300px;}


.fa-js-square.active {font-size: 35px;
    color:#f7f12f;
    margin-left: 20%;
    margin-top:0%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-js-square {font-size: 55px;
    color:#f7f12f;
    margin-left: 20%;
    margin-top:-300px;}


.fa-sticky-note.active {font-size: 25px;
    color:#32fab1;
    margin-left: 90%;
    margin-top:-25%;
    transition:margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}

.fa-sticky-note {font-size: 25px;
    color:#32fab1;
    margin-left: 90%;
    margin-top:-300px;}

.fa-laptop.active {font-size: 25px;
    color:#323635;
    margin-left: 5%;
    margin-top:-30%;
    transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 4px #000;
}

.fa-laptop {font-size: 25px;
    color:#323635;
    margin-left: 5%;
    margin-top:-300px;}


.fa-mobile-alt.active {font-size: 35px;
    color:#989c6e;
    margin-left: 70%;
    margin-top:56%;
    transition:  margin 2.5s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
    }

.fa-mobile-alt {font-size: 35px;
    color:#989c6e;
    margin-left: 70%;
    margin-top:-300px;
}

.fa-desktop.active {font-size: 35px;
    color:#8f5e5e;
    margin-left:31%;
    margin-top:-25%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 2px 3px 3px #000;}

.fa-desktop {font-size: 35px;
    color:#8f5e5e;
    margin-left:31%;
    margin-top:-300px;}


.fa-php.active { font-size: 35px;
    color:#7276e8;
    margin-left:60%;
    margin-top:-15%; transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-php { font-size: 35px;
    color:#24148c;
    margin-left:60%;
    margin-top:-300px; }


.fa-pied-piper-square.active {font-size: 35px;
    color:#0c4204;
    margin-left:89%;
    margin-top:40%;transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;}

.fa-pied-piper-square {font-size: 35px;
    color:#0c4204;
    margin-left:89%;
    margin-top:-300px;}


.fa-brain.active {font-size: 25px;
    color:#db3dc1;
    margin-left:91%;
    margin-top:80%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-brain {font-size: 45px;
    color:#db3dc1;
    margin-left:91%;
    margin-top:-300px;}


.fa-chart-line.active {font-size: 35px;
    color:#54b34b;
    margin-left:52%;
    margin-top:-37%;transition:  margin 3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-chart-line {font-size: 35px;
    color:#54b34b;
    margin-left:52%;
    margin-top:-300px;}


.fa-code.active {font-size: 35px;
    color:#3192b0;
    margin-left:55%;
    margin-top:43%;transition:  margin 2.3s ease-in-out 0s;
text-shadow: 1px 2px 3px #000;}

.fa-code {font-size: 35px;
    color:#3192b0;
    margin-left:55%;
    margin-top:-300px;}


.fa-cloud {
    font-size: 35px;
    color:#fff;
    margin-left:73%;
    margin-top:-300px;

}
.fa-cloud.active {
    font-size: 35px;
    color:#fff;
    margin-left:73%;
    margin-top:-40%;
    transition:  margin 3s ease-in-out 0s;
    text-shadow: 1px 2px 3px #000;
}



#typed{
    width: 400px;
    font-size: 20px;
     font-family: 'Yanone Kaffeesatz', sans-serif;
       font-weight: 700;

     text-align: center;
}

.typed-cursor{
    font-size: 20px;
}
#typed-strings{
    opacity: 0;
}
.MTT{
    margin-top: -110px;
margin-right: 10px;
    width: 400px;

    height: 110px;
}
.MainWinEnd {
  margin-top: -1px;
    height: 38%;
    width: 100%;
    background: #505d66; 
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 20px -4px rgba(0, 0, 0, 0.5);

    
}
.first{
     -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    color:#fff;
    font-family: 'Oswald';
    
}
.Price {
    padding-bottom: 130px;
}
.table{
  border-top: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
   border-left: 4px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 20px 4px rgba(0, 0, 0, 0.5); 
  font-family: 'Oswald', serif;
  font-size: 21px;
  background: #498eab;
  max-width: 100%;
  width: 100%;
  height: 300px;
  border-collapse: collapse;
  text-align: left;
  opacity: 0;
  
}
.money{
    width: 40px;
    font-size:55px;
    padding-left: 200px;
}

.Text_Content { 
  color:#000;
  font-family: "Oswald";
 
 }

.table.active{  
  font-family: 'Oswald';

  font-size: 17px;
  background: #0ca8a8;
  max-width: 100%;
  width: 100%;
  height: 300px;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 1.5s 350ms;

}
th {
  font-weight: normal;
  color: #fff;
  border-bottom: 3px solid #505d66;
  padding: 15px 19px;
  text-align: left;
}
td {
  color: #fff;
  padding: 15px 20px;
  transition: .3s linear;
}
 tr:hover .bestpricecolor1 {
  color: #fcb605;
   font-family: 'Oswald';

}
.nametabletsavemoney{display: none;}
.savemoney {
  color: #46eb93;
  font-family: 'Oswald';
  display: none;

}

 tr:hover .NameUslugi {
  color:#505d66;
  font-family: 'Oswald';
  text-decoration: underline;

}



tr:hover td {
  color: #505d66;
}
.ramka{
   border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border: 4px solid black;
  margin-bottom: 25px;
}
.ramka2{
   border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border: 4px outset black;
   margin-bottom: 25px;
}
.ramka3{
   border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border: 4px solid black;
     margin-bottom: 25px;
}
.AddFast-Select{
  padding-top: 50px;
  padding-bottom: 30px;
}
}