// Файл обнуляющих стилей
@import "nullstyle.scss";
@import "media.scss";
@import "button_top.scss";
@import "swiper.scss";
@import "footer.scss";
@import "fast-select.scss";
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
.Background{
 
  background-repeat: no-repeat;
background: radial-gradient( circle 827px at 47.3% 48%,  rgba(255,255,255,1) 0%, rgba(138,192,216,1) 90% ) fixed;}
.head {
 position: fixed;
 z-index: 50;
 width: 100%;
 top:0;
 left:0;
 }

.head:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #3A4750;
    z-index: 3;
}

.header_content {
    display: flex;
    position: relative;
    justify-content: space-between;
    height:  80px;
    align-items: center;
}


.header_burger {
    display: none;
}


.header_list li {
    margin: 0px 0px 0px 30px;
}

.header_list {

    display: flex;
    position: relative;
    z-index: 5;
}  

.hedear_link { 
   
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.Block_Work_list2{
    display: none;
}
.Block {}
.Block_Work_Title { 
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    display: flex;
    position: relative;
}

.header_menu {

}
.c1.active{
    font-weight: bold;
     transform: translate3d(0, 0, 0);
     transition: all 1s 200ms;
      opacity: 1;
}
.c2.active{
   font-weight: bold;
     transform: translate3d(0, 0, 0);
    transition: all 1s 300ms;
      opacity: 1;
}

.c3.active{
font-weight: bold;
     transform: translate3d(0, 0, 0);
     transition: all 1s 350ms;
      opacity: 1;
}

@media (max-width: 918px){
    
.last_content {display: none;}
    .Background{
background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(214, 245, 255) 0%, rgba(138,192,216,1) 90% );}
    .Bl_Inf {
        flex-direction:column;
-moz-border-radius-topleft: 27px;
-webkit-border-top-left-radius: 27px;
 border-top-left-radius: 27px;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
    padding-bottom: 10px;
    margin: auto ;
    width:90%;
    height: 500px;
    background-color: #505d66;
    display: flex;
    justify-content: space-between;
}

.Bl_Inf div{
    margin: auto;
    width: 80%;
    height: 90px;
    background-color: #E0F7FF;
    border-radius: 10px;
       font-size: 12px;
     font-family: 'Oswald';
     padding:10px ;
}
.NameTable{
    font-size:40px;
    font-family: 'Oswald';
    padding-bottom: 20px;
    margin: auto;
}

.About_me_text {
    display: flex;
    max-width: 1230px;
    margin: auto;
    font-size: 21px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;

}
.About_myself { 
 display: flex;
 padding: 50px 0px 0px 0px;
 margin-left: 7%;
 padding-bottom: 70px;
}
    .content{
        padding: 10px;
    }
    .Background.lock{
        overflow: hidden;
    }
    .Block_Work_list{
        display: none;
    }
    .Block_Work_list2{
     position: flex;
     top:-100%;
     left:0;
     transition: all 0.2s ease 0s;
     

    }
    .Block_Work_list2.active {
      display: flex;
      top:0;
      transition: all 0.4s ease 0s;
      font-size: 18px;
      padding: 16px 1px;


    }
    .first{
        color:#fff;
         -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    }
    .Block_Work_list2.active li {
        color:#fff;
        font-family: 'Oswald';

    }

  
    .header_burger{
        padding: 0px 0px 0px 0px; 
        display: block;
        position: relative;
        width: 60px;
        height: 50px;
        z-index: 5;

    }

    .head{
        z-index: 6;
        height: 80px;
    }
    .header_burger span{
        margin-top: 10px;
       background-color: #fff;
        content:'';
        position: absolute;
        left:10px;
        width: 40px;
        height: 3px;
        top:8.5px;
        transition: all 0.4s ease 0s;
    }
    .header_content{}
    .header_burger:before,
    .header_burger:after{
        margin-top: 10px;
        margin-bottom: 20px;
        background-color:#fff;
        content:'';
        position: absolute;
        left:10px;
        width: 40px;
        height: 3.5px;
        transition: all 0.4s ease 0s;
       

    }
     .header_burger.active span{
        transform: scale(0);

    }

    .header_burger:before{
        top:0;
       
    }
    .header_burger:after{
        bottom:0;
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top:8px;
        background-color: #fa0000;
    }
     .header_burger.active:after{
        transform: rotate(-45deg);
        bottom:9px;
        background-color: #fa0000;
    }
    .header_menu {
    position: fixed;
    top:-100%;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #505d66;
    padding: 80px 0px 0px 0px;
    transition:all 0.4s ease 0s;
    overflow: auto;
 
}
.header_menu.active{
    top:0; 

}
.top.active{
    display: none;
}
.topf.active{
    display: none;
}
.head{
    height: 70px;
}

.header_list{
    display: block;
}

.header_list li{
   padding: 0px 0px 25px 0px;
    }
}



.Block_Work_list {

    background-color: #181a17e1;
    transition:all 0.4s ease 0s;
    position: fixed;
    top:-50%;
    z-index: 0;
    margin:0px 0px;
    width: 160px;
}




.line {
    width: 100%;
    /*background-color: #000;*/
    height: 3px;
}
.space{
    display: flex;
    padding-top: 70px;
}
.line1 {
    width: 100%;
     /*background-color: #000;*/
    height: 3px;
}
.ColorTwo{
    background: #fff;
}
.contenir{
    
    max-width: 1230px;
    margin: auto;
    display: flex;
    flex-direction:column;
}


.content {
    font-weight: bold;
    transform: translate3d(-230px, 0, 0);
    opacity: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 21px;
}
.Adapt{
    font-size: 24px;
    text-decoration: underline;

}

.About_myself { 
 display: flex;
 padding: 50px 0px 0px 0px;
 padding-bottom: 2%;
} 

.Text_Content {
    padding-right: 30px;
    margin: auto;
    font-size: 40px;
    font-family: 'Oswald';
    color: #000;
}

.About_me_text {
    display: flex;
    max-width: 1230px;
    margin: auto;
    font-size: 21px;
    padding-bottom: 30px;
}






.typed-cursor { 
}

/* If fade out option is set */
.typed-fade-out {
}








.fa-lightbulb {
color:#565724;

font-size: 60px;
color:#ecf011;

}


.fastselect{
    font-size:50px;
    font-family: 'Oswald';
   
    margin: auto;

}
.space1 {
  padding-top: 80px;
}
.svg2 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: dash 4s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#demo-svg path{
    stroke-dasharray: 330;
    stroke-dashoffset:0;   
}
.NAMEWORK {
    max-width: 100%;
    margin-left: 90px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 20px; 
 }
 



